aiomas==2.0.1
alabaster==0.7.6
appnope==0.1.0
arrow==0.7.0
asyncssh==1.18.0
Babel==2.1.1
backcall==0.1.0
bleach==3.1.0
certifi==2019.9.11
cffi==1.13.1
chardet==3.0.4
coverage==4.0.2
coveralls==1.1
cryptography==2.8
cycler==0.10.0
deap==1.3.0
decorator==4.4.0
docopt==0.6.2
docutils==0.15.2
filelock==3.0.12
flake8==2.5.0
gnureadline==6.3.3
idna==2.8
imagesize==1.1.0
importlib-metadata==0.23
ipython==7.16.3
ipython-genutils==0.1.0
jedi==0.15.1
Jinja2==2.10.3
joblib==0.14.0
kiwisolver==1.1.0
MarkupSafe==0.23
matplotlib==3.1.1
mccabe==0.3.1
more-itertools==7.2.0
msgpack-python==0.4.6
networkx==2.4
noise==1.2.2
numpy==1.17.3
opencv-python==4.1.1.26
packaging==19.2
parso==0.5.1
path.py==8.1.2
pep8==1.5.7
pexpect==4.7.0
pickleshare==0.5
Pillow==6.2.1
pkginfo==1.5.0.1
pluggy==0.13.0
prompt-toolkit==2.0.10
ptyprocess==0.5
py==1.4.33
pycparser==2.19
pyflakes==1.0.0
Pygments==2.0.2
pyparsing==2.0.5
pytest==3.1.2
pytest-cov==2.2.0
python-dateutil==2.4.2
pytz==2015.7
readme-renderer==24.0
requests==2.22.0
requests-toolbelt==0.9.1
scikit-learn==0.21.3
scipy==1.3.1
simplegeneric==0.8.1
six==1.10.0
snowballstemmer==1.2.0
Sphinx==2.2.0
sphinx-rtd-theme==0.4.3
sphinxcontrib-applehelp==1.0.1
sphinxcontrib-devhelp==1.0.1
sphinxcontrib-htmlhelp==1.0.2
sphinxcontrib-jsmath==1.0.1
sphinxcontrib-qthelp==1.0.2
sphinxcontrib-serializinghtml==1.1.3
testfixtures==4.5.0
toml==0.10.0
tox==3.14.0
tqdm==4.36.1
traitlets==4.3.3
twine==2.0.0
urllib3==1.25.6
virtualenv==16.7.7
wcwidth==0.1.7
webencodings==0.5.1
zipp==0.6.0